$dayBorder: 1px solid $wcfContentBorderInner;

.siracaMonthView {

    ol {
        list-style: none;
    }

    .siracaMonthLine {
        display: flex;

        &:first-child {
            border-top: $dayBorder;
            
            @include screen-xs {
                border-style: none;
            }
        }
        
        &:last-child {
            @include screen-xs {
                border-bottom: $dayBorder;
            }
        }

        @include screen-xs {
            display: block;
        }

        > li {
            flex: 0 0 14.27%;
            height: 1.5em * 6;
            max-height: 1.5em * 6;
            text-align: left;
            padding: 2px;

            border-right: $dayBorder;
            border-bottom: $dayBorder;

            &.today {
                background-color: #e5f3ff;
                .dayName {
                    font-weight: bold;
                }
            }

            &:first-child {
                border-left: $dayBorder;
            }

            @include screen-xs {
                height: auto;

                &:first-child {
                    border-top: $dayBorder;
                }
                border-left: $dayBorder;
                border-right: $dayBorder;
                
                &:last-child {
                    border-bottom: none;
                }
            }

            .dayName {
                > a {
                    color: $wcfTabularBoxHeadline;
                }
            }

            a.showMore {
                font-size: small;
                font-style: italic;
                color: $wcfContentDimmedText;
                margin-left: 1em;
            }
            
            .dayRaces {
                overflow: hidden;
                
                > ol {
                    > li {
                        font-size: small;
                        line-height: 1.5em;
    
                        &:before {
                            content: "\2022";
                            color: $wcfContentLink;
                            font-weight: bold;
                            display: inline-block;
                        }

                        &.participant {
                            font-weight: bold;
                            &:not(.participationConfirmed) {
                                background-color: #f3f3f3;
                            }
                            &.participationConfirmed {
                                background-color: #e1fae5;
                            }
                        }
                    }
                }
            }

            * {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}

.siracaParticipationBox {
    font-size: small;
    background-color: $wcfContentContainerBackground;
    border: 1px solid $wcfContentContainerBorder;
    padding: 4px;

    > .siracaParticipationSummary {
        vertical-align: middle;
        display: inline-block;
    }

    .button {
        vertical-align: middle;
        display: inline-block;
    }

    .participationConfirmed {
        background-color: #84d992;
        &:hover {
            background-color: #66b373;
        }
    }
}

button.siracaAdminButton,
input[type="button"].siracaAdminButton,
.button.siracaAdminButton,
a.button.siracaAdminButton {
	background-color: #196cb0;
	color: $wcfButtonPrimaryText;
	
	&.active,
	&:hover {
		background-color: #135387;
		color: $wcfButtonPrimaryTextActive;
	}
}

button.siracaAdminDangerousButton,
input[type="button"].siracaAdminDangerousButton,
.button.siracaAdminDangerousButton,
a.button.siracaAdminDangerousButton {
	background-color: #f24e22;
	color: $wcfButtonPrimaryText;
	
	&.active,
	&:hover {
		background-color: #c9401a;
		color: $wcfButtonPrimaryTextActive;
	}
}

