$dayBorder: 1px solid $wcfContentBorderInner;

.siracaMonthView {

    ol {
        list-style: none;
    }

    .siracaMonthLine {
        display: flex;

        &:first-child {
            border-top: $dayBorder;
            
            @include screen-xs {
                border-style: none;
            }
        }
        
        &:last-child {
            @include screen-xs {
                border-bottom: $dayBorder;
            }
        }

        @include screen-xs {
            display: block;
        }

        > li {
            flex: 0 0 14.27%;
            height: 1.5em * 6;
            text-align: left;
            padding: 2px;

            border-right: $dayBorder;
            border-bottom: $dayBorder;

            &:first-child {
                border-left: $dayBorder;
            }

            @include screen-xs {
                height: auto;

                &:first-child {
                    border-top: $dayBorder;
                }
                border-left: $dayBorder;
                border-right: $dayBorder;
                
                &:last-child {
                    border-bottom: none;
                }
            }

            .dayName {
                > a {
                    color: $wcfTabularBoxHeadline;
                }
            }

            a.showMore {
                font-size: small;
                color: $wcfContentText;
            }
            
            .dayRaces {
                overflow: hidden;
                
                > ol {
                    > li {
                        font-size: small;
                        line-height: 1.5em;
    
                        &:before {
                            content: "\2022";
                            color: $wcfContentLink;
                            font-weight: bold;
                            display: inline-block;
                        }
                    }
                }
            }

            * {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}